IMAGE_TAG=latest

# Domains
NODE_HOST=foodie.example.com
PHP_HOST=api.foodie.example.com
PMA_HOST=dbadmin.foodie.example.com

# MySQL
MYSQL_DATABASE=foodie
MYSQL_USER=foodie
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me-root
